:root{
    --blue : rgb(51, 51, 153);
    --light_blue : #64c7d0;
    --blue2 : #5151a8;
}

@font-face{
	font-family:"Gothic";
	src: url("../fonts/CenturyGothicBold.ttf");
}

@font-face{
	font-family:"GothicThin";
	src: url("../fonts/CenturyGothic.ttf");
}

body{font-family: "Gothic", Arial}

hr{margin: 2px}

/* Anchors */
h1{
    text-align: center;
    color: var(--blue);
}

.anchors .col-md-3{
    background-color: #ccc;
    height: 75px;
    position: relative;
    text-align: center;
}

.anchors .col-md-3:hover{background-color: var(--blue);}

.anchors .col-md-3 a{
    color: #fff;
    font-size: 2em;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    text-decoration: none;
}

.line{
    width: 80px;
    margin: 0 auto;
    border-top: 10px solid var(--blue);
    margin-bottom: 50px;
}

/* Navbar */
.navbar-default{
    background-color: #fff;
    height: 100px;
}

.navbar-default .navbar-brand img{height: 70px;}

.navbar-default .nav li a{
    color: var(--blue);
    font-size: 1.5em;
    line-height: 2.3em;
}

.navbar-default .nav li a:hover{color: var(--blue)}

.navbar-default .navbar-toggle{margin-top: 25px;}

.navbar-default .color{border: none}

.navbar-default .color li a{color: #fff;}

.navbar-default .color li a:hover{color: #fff;}

/* Header */
header{
    background-image: url("../Images/HeroImage-Header.jpg");
    height: 100vh;
}

header h1{
    color: #fff;
    text-align: left;
    font-size: 8em;
    width: 20%;
    margin-top: 15%;
}

@media screen and (max-width: 768px){
    header h1{
        font-size: 5.5em;
        margin-top: 60%;
    }
}

/* About */
#About{
    background-color: #fff;
    margin-bottom: 100px;
    margin-top: 100px;
}

#About p{
    color: #000;
    font-family: "GothicThin";
    width: 80%;
}

#About a{
    display: block;
    background-color: var(--blue);
    color: #fff;
    width: max-content;
    padding: 10px 20px;
    margin: 10px auto 0 ;
    font-family: sans-serif;
    text-decoration: none;
}

/* Speakers */
#Speakers{margin-bottom: 100px}

#Speakers figure img{height: 200px;}

#Speakers .speaker{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

#Speakers .speaker figcaption{
    background-color: var(--blue);
    color: #fff;
    font-family: "Gothic", sans-serif;
    height: 40px;
    text-align: center;
    font-size: 1.3em;
    line-height: 2em;
}

@media screen and (max-width: 992px){
    #Speakers .speaker{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Schdule */
#Agenda{background-color: #f4f4f4;}

#Agenda .col-xs-1{
    clear: both;
    font-size: 4em;
    font-weight: 900;
    color: var(--blue);
    background-color: #64c7d0;
    margin-top: 15px;
    border-radius: 50%;
    padding: 0;
    overflow: hidden;
    width: 60px;
    height: 60px;
    text-align: center;
}

#Agenda h2, article p{color: var(--blue);}

#Agenda p{
    font-size: 1.5em;
    font-family: "GothicThin", sans-serif;
}

#Agenda .time{float: right;}

#Agenda .speaker{float: left;}

#Agenda hr{ border:1px solid var(--light_blue);}

@media screen and (max-width: 610px){
    #Agenda .time{
        float: left;
        clear: both;
    }
}

@media screen and (max-width: 340px){
    h2{font-size: 20px}
}

/* Roll in */
.roll h1{padding-top: 50px;}

.roll .col-md-3{background-color: var(--light_blue);}

/* Location */
.location{background-color: #f4f4f4;}

.location h1{padding-top: 50px;}

.location iframe{width: 100%;}

/* Site */
.site{background-color: var(--blue2);}

.site p{
    width: 80%;
    margin: 20px auto;
    color: #fff;
    font-size: 1.5em;
    text-align: center
}

.site p span{
    color: var(--light_blue);
    font-size: 1.3em;
}

.site .anchorsite{
    display: block;
    background-color: white;
    color: var(--blue2);
    font-size: 1.5em;
    text-decoration: none;
    width: max-content;
    padding: 20px;
    margin: 0 auto;
}

.site .navbar-default{background-color: transparent;}

.site ul.nav::before{content: none}

.site ul{
    display: grid;
    grid-template-columns: repeat(6,50px);
    grid-gap: 10px;
    justify-content: center;
    float: none;
}

@media screen and (max-width: 768px){
    .site{padding-bottom: 50px}
    .site ul{
        grid-template-columns: repeat(3, 50px);
        grid-template-rows: 50px 50px;
    }
}

/* Footer */
footer p{
    color: var(--blue);
    text-align: center;
    font-size: 1.5em;
}

footer p span{font-family: "GothicThin", sans-serif;}